---
import PageLayout from '@layouts/PageLayout.astro';

import DisclosureButton from '@components/primitives/DisclosureButton.astro';
import DisclosurePanel from '@components/primitives/DisclosurePanel.astro';

import Disclosure from '@components/Disclosure.astro';
---

<script>
  const handleClick = () => {
    alert('Clicked');
  };

  document
    .getElementById('test-button')
    ?.addEventListener('click', handleClick);
</script>

<PageLayout title="Coming soon">
  <div class="container">
    <h2
      class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
    >
      Welcome to the <strong>Astro</strong> Starter Template
    </h2>
    <p class="leading-6 [&:not(:first-child)]:mt-4">
      To get started, open the directory <code>src/pages</code> in your project.
    </p>
    <p class="leading-6 [&:not(:first-child)]:mt-4">
      <strong>Code Challenge:</strong> Tweak the "Welcome to the Astro Starter Template"
      message above.
    </p>

    <section class="mt-6">
      <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
        Component Primitives
      </h3>
      <p class="leading-6 [&:not(:first-child)]:mt-4">
        These primitives are unstyled components with predefined behaviors that
        comply with ARIA accessibility standards. They are used to build styled
        components with.
      </p>
    </section>

    <section class="mt-6">
      <h4 class="scroll-m-20 text-xl font-semibold tracking-tight">
        Disclosure Button/Panel Components
      </h4>
      <div class="mt-4">
        <DisclosureButton
          aria-controls="disclosure-panel-1"
          class="group inline-block rounded bg-purple-700 px-4 py-2 font-semibold text-white transition-colors duration-0 hover:bg-purple-500 motion-safe:duration-200"
        >
          <span class="group-data-[state-open]:hidden">Open</span>
          <span class="group-data-[state-closed]:hidden">Close</span>
        </DisclosureButton>
        <DisclosureButton
          aria-controls="disclosure-panel-1"
          class="group inline-block rounded bg-purple-700 px-4 py-2 font-semibold text-white transition-colors duration-0 hover:bg-purple-500 motion-safe:duration-200"
        >
          <span class="group-data-[state-open]:hidden">Second open button</span>
          <span class="group-data-[state-closed]:hidden"
            >Second close button</span
          >
        </DisclosureButton>
      </div>
      <DisclosurePanel
        id="disclosure-panel-1"
        class="mt-4 data-[state-closed]:hidden"
      >
        <p class="leading-6 [&:not(:first-child)]:mt-4">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore
          minus delectus illum totam mollitia laudantium molestias tempora fuga
          eum harum alias doloribus, eveniet pariatur nam sed molestiae odio
          culpa?
        </p>
      </DisclosurePanel>
    </section>

    <section class="mt-6">
      <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
        Styled Components
      </h3>
      <p class="leading-6 [&:not(:first-child)]:mt-4">
        These are the components you will build your sites with.
      </p>
    </section>

    <section class="mt-6">
      <h4 class="scroll-m-20 text-xl font-semibold tracking-tight">
        Disclosure
      </h4>
      <Disclosure
        id="disclosure-example"
        heading="This is a disclosure. Click to find out more."
        class="mt-4"
      >
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem voluptas
        eius eligendi, repellat minima totam, architecto nostrum quasi modi quae
        vitae nulla culpa, itaque rem consequuntur! Impedit debitis facere
        nesciunt?
      </Disclosure>
    </section>

    <section class="mt-6">
      <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
        Another Section
      </h3>
      <p class="leading-6 [&:not(:first-child)]:mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore
        minus delectus illum totam mollitia laudantium molestias tempora fuga
        eum harum alias doloribus, eveniet pariatur nam sed molestiae odio
        culpa?
      </p>
      <p class="leading-6 [&:not(:first-child)]:mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore
        minus delectus illum totam mollitia laudantium molestias tempora fuga
        eum harum alias doloribus, eveniet pariatur nam sed molestiae odio
        culpa?
      </p>
      <p class="leading-6 [&:not(:first-child)]:mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore
        minus delectus illum totam mollitia laudantium molestias tempora fuga
        eum harum alias doloribus, eveniet pariatur nam sed molestiae odio
        culpa?
      </p>
      <p class="leading-6 [&:not(:first-child)]:mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore
        minus delectus illum totam mollitia laudantium molestias tempora fuga
        eum harum alias doloribus, eveniet pariatur nam sed molestiae odio
        culpa?
      </p>
      <p class="leading-6 [&:not(:first-child)]:mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore
        minus delectus illum totam mollitia laudantium molestias tempora fuga
        eum harum alias doloribus, eveniet pariatur nam sed molestiae odio
        culpa?
      </p>
      <p class="leading-6 [&:not(:first-child)]:mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore
        minus delectus illum totam mollitia laudantium molestias tempora fuga
        eum harum alias doloribus, eveniet pariatur nam sed molestiae odio
        culpa?
      </p>
      <p class="leading-6 [&:not(:first-child)]:mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore
        minus delectus illum totam mollitia laudantium molestias tempora fuga
        eum harum alias doloribus, eveniet pariatur nam sed molestiae odio
        culpa?
      </p>
      <p class="leading-6 [&:not(:first-child)]:mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore
        minus delectus illum totam mollitia laudantium molestias tempora fuga
        eum harum alias doloribus, eveniet pariatur nam sed molestiae odio
        culpa?
      </p>
      <p class="leading-6 [&:not(:first-child)]:mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore
        minus delectus illum totam mollitia laudantium molestias tempora fuga
        eum harum alias doloribus, eveniet pariatur nam sed molestiae odio
        culpa?
      </p>
      <p class="leading-6 [&:not(:first-child)]:mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore
        minus delectus illum totam mollitia laudantium molestias tempora fuga
        eum harum alias doloribus, eveniet pariatur nam sed molestiae odio
        culpa?
      </p>
      <p class="leading-6 [&:not(:first-child)]:mt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolore
        minus delectus illum totam mollitia laudantium molestias tempora fuga
        eum harum alias doloribus, eveniet pariatur nam sed molestiae odio
        culpa?
      </p>
    </section>
  </div>
</PageLayout>
