---
import PageLayout from '@layouts/PageLayout.astro';
---

<PageLayout title="Coming soon">
  <div class="container">
    <h2>Welcome to the <strong>Astro</strong> Starter Template</h2>
    <p>
      To get started, open the directory <code>src/pages</code> in your project.
    </p>
    <p>
      <strong>Code Challenge:</strong> Tweak the "Welcome to the Astro Starter Template"
      message above.
    </p>
  </div>
</PageLayout>
