---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<header>
  <div class="container py-8">
    <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
      {title}
    </h1>
  </div>
</header>
