@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Variable Fonts */
  @supports (font-variation-settings: normal) {
    @font-face {
      font-family: 'Inter';
      src: url('/assets/fonts/InterVariable.woff2') format('woff2');
      font-style: normal;
      font-weight: 100 900;
      font-display: swap;
    }

    @font-face {
      font-family: 'Inter';
      src: url('/assets/fonts/InterVariable-Italic.woff2') format('woff2');
      font-style: italic;
      font-weight: 100 900;
      font-display: swap;
    }
  }

  /* Static Fonts */
  @supports not (font-variation-settings: normal) {
    @font-face {
      font-family: Inter;
      src: url('/assets/fonts/Inter-ExtraLight.woff2') format('woff2');
      font-style: ExtraLight;
      font-weight: 600;
      font-display: swap;
    }

    @font-face {
      font-family: Inter;
      src: url('/assets/fonts/Inter-ExtraLightItalic.woff2') format('woff2');
      font-style: italic;
      font-weight: 600;
      font-display: swap;
    }
    @font-face {
      font-family: Inter;
      src: url('/assets/fonts/Inter-Regular.woff2') format('woff2');
      font-style: normal;
      font-weight: 400;
      font-display: swap;
    }

    @font-face {
      font-family: Inter;
      src: url('/assets/fonts/Inter-Italic.woff2') format('woff2');
      font-style: italic;
      font-weight: 400;
      font-display: swap;
    }

    @font-face {
      font-family: Inter;
      src: url('/assets/fonts/Inter-SemiBold.woff2') format('woff2');
      font-style: semibold;
      font-weight: 600;
      font-display: swap;
    }

    @font-face {
      font-family: Inter;
      src: url('/assets/fonts/Inter-SemiBoldItalic.woff2') format('woff2');
      font-style: italic;
      font-weight: 600;
      font-display: swap;
    }

    @font-face {
      font-family: Inter;
      src: url('/assets/fonts/Inter-Bold.woff2') format('woff2');
      font-style: bold;
      font-weight: 700;
      font-display: swap;
    }

    @font-face {
      font-family: Inter;
      src: url('/assets/fonts/Inter-BoldItalic.woff2') format('woff2');
      font-style: italic;
      font-weight: 700;
      font-display: swap;
    }
  }

  :root {
    /* Colors */
    --color-primary-50: hsl(267deg 82% 98%);
    --color-primary-100: hsl(263deg 84% 95%);
    --color-primary-200: hsl(261deg 86% 91%);
    --color-primary-300: hsl(261deg 85% 85%);
    --color-primary-400: hsl(263deg 85% 75%);
    --color-primary-500: hsl(264deg 82% 63%);
    --color-primary-600: hsl(264deg 73% 56%);
    --color-primary-700: hsl(265deg 64% 47%);
    --color-primary-800: hsl(266deg 61% 39%);
    --color-primary-900: hsl(267deg 60% 32%);
    --color-primary-950: hsl(266deg 76% 21%);
    --color-light: hsl(0deg 0% 96%);
    --color-dark: hsl(0deg 0% 4%);
  }
}
