---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
  'aria-controls': string;
}

const { 'aria-controls': ariaControls, ...props } = Astro.props;

const attributes = {
  'aria-controls': ariaControls,
};
---

<script>
  import { handleDisclosureButtonClick } from '@scripts/utils';

  const disclosureButtons = document.querySelectorAll(
    '[data-component-disclosure-button]'
  );

  disclosureButtons.forEach((button) => {
    // Set up the initial state based on the starting state of the
    // DisclosurePanel that this button controls
    const ariaControls = button.getAttribute('aria-controls');
    if (ariaControls) {
      const elm = document.getElementById(ariaControls);
      const isOpen = '' === elm?.getAttribute('data-state-open');
      button.setAttribute('aria-expanded', isOpen.toString());
      isOpen
        ? button.setAttribute('data-state-open', '')
        : button.setAttribute('data-state-closed', '');
    }

    // Add Event Listener
    button.addEventListener('click', (event: Event) => {
      handleDisclosureButtonClick(event.currentTarget as HTMLButtonElement);
    });
  });
</script>

<button {...props} {...attributes} data-component-disclosure-button>
  <slot />
</button>

<script></script>
